<h2 {% if site.style == 'dark' %}class="text-white" {% endif %}>Achievments</h2>
<div class="d-sm-flex flex-wrap gutter-condensed mb-2"></div>

<div class="col-sm-1 col-md-1 col-lg-1 col-xl-12 mb-3">
    <div class="github-component d-flex flex-column flex-justify-between height-full text-left rounded-1 border border-gray-light bg-white p-3">
        <div>
            <div class="d-flex flex-justify-between flex-items-start mb-1" style="font-family:Roboto Mono">
                <h3 {% if site.style == 'dark' %}class="text-white" {% endif %}>
                    2nd Prize - Programming
                </h3>
            </div>
            <p class="f4 mb-1 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"
                style="font-family:Roboto Mono">
                Blitz
            </p>
            <p class="f4 mb-1 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"
                style="font-family:Roboto Mono">
                Interschool Multi Cultural Event organised by Mount Carmel College, Lucknow
            </p>
            <p class="text-gray mb-2 ws-normal" style="font-family:Roboto Mono">
                2019
            </p>
        </div>
    </div>
</div>


<div class="col-sm-1 col-md-1 col-lg-1 col-xl-12 mb-3">
    <div class="github-component d-flex flex-column flex-justify-between height-full text-left rounded-1 border border-gray-light bg-white p-3">
        <div>
            <div class="d-flex flex-justify-between flex-items-start mb-1" style="font-family:Roboto Mono">
                <h3 {% if site.style == 'dark' %}class="text-white" {% endif %}>
                    3rd Prize - Programming
                </h3>
            </div>
            <p class="f4 mb-1 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"
                style="font-family:Roboto Mono">
                COFAS International
            </p>
            <p class="f4 mb-1 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"
                style="font-family:Roboto Mono">
                Internationational Multi Cultural Event organised by City Montessori School, Lucknow
            </p>
            <p class="text-gray mb-2 ws-normal" style="font-family:Roboto Mono">
                2018
            </p>
        </div>
    </div>
</div>

<div class="d-sm-flex flex-wrap gutter-condensed mb-4"></div>