<h2 {% if site.style == 'dark' %}class="text-white" {% endif %}>Articles</h2>
<div class="d-sm-flex flex-wrap gutter-condensed mb-2"></div>

<div class="d-sm-flex flex-wrap gutter-condensed mb-4">

    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-12 mb-3">
        <div
            class="github-component d-flex flex-column flex-justify-between height-full text-left rounded-1 border border-gray-light bg-white p-3">
            <div>
                <div class="d-flex flex-justify-between flex-items-start mb-1" style="font-family:Roboto Mono">
                    <h3 {% if site.style == 'dark' %}class="text-white" {% endif %}>Diving into Android’s Wallpaper crash bug</h3>
                </div>
                <p class="f4 mb-1 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"
                    style="font-family:Roboto Mono">
                    Medium
                </p>
                <p class="f4 mb-1 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"
                    style="font-family:Roboto Mono">
                    Detailed article explaining about the bug in Android’s SystemUI which started crashing infinitely on
                    applying a specific wallpaper.
                </p>
            </div>
        </div>
    </div>

</div>