<h2 {% if site.style == 'dark' %}class="text-white" {% endif %}>Education</h2>
<div class="d-sm-flex flex-wrap gutter-condensed mb-2"></div>

<div class="d-sm-flex flex-wrap gutter-condensed mb-4">

    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
        <div class="github-component d-flex flex-column flex-justify-between height-full text-left rounded-1 p-0">
            <div>
                <div class="d-flex flex-justify-between flex-items-start mb-1" style="font-family:Roboto Mono">
                    <h3 {% if site.style == 'dark' %}class="text-white" {% endif %}>Bachelor of Technology</h3>
                </div>
                <p class="f4 mb-1 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"
                    style="font-family:Roboto Mono">
                    Computer & Communication Engineering
                </p>
                <p class="f4 mb-1 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"
                    style="font-family:Roboto Mono">
                    Manipal University, Jaipur
                </p>
                <p class="text-gray mb-2 ws-normal" style="font-family:Roboto Mono">
                    2019 - 2023
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
        <div class="github-component d-flex flex-column flex-justify-between height-full text-left rounded-1 p-0">
            <div>
                <div class="d-flex flex-justify-between flex-items-start mb-1" style="font-family:Roboto Mono">
                    <h3 {% if site.style == 'dark' %}class="text-white" {% endif %}>
                        Senior Secondary
                    </h3>
                </div>
                <p class="f4 mb-1 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"
                    style="font-family:Roboto Mono">
                    ISC - 89.25%
                </p>
                <p class="f4 mb-1 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"
                    style="font-family:Roboto Mono">
                    City Montessori School, Lucknow
                </p>
                <p class="text-gray mb-2 ws-normal" style="font-family:Roboto Mono">
                    2019
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
        <div class="github-component d-flex flex-column flex-justify-between height-full text-left rounded-1 p-0">
            <div>
                <div class="d-flex flex-justify-between flex-items-start mb-1" style="font-family:Roboto Mono">
                    <h3 {% if site.style == 'dark' %}class="text-white" {% endif %}>
                        Secondary
                    </h3>
                </div>
                <p class="f4 mb-1 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"
                    style="font-family:Roboto Mono">
                    ICSE - 86%
                </p>
                <p class="f4 mb-1 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"
                    style="font-family:Roboto Mono">
                    City Montessori School, Lucknow
                </p>
                <p class="text-gray mb-2 ws-normal" style="font-family:Roboto Mono">
                    2017
                </p>
            </div>
        </div>
    </div>

</div>