<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Education</h2>
<div class="d-sm-flex flex-wrap gutter-condensed mb-2"></div>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>Bachelor of Technology</h3>
<p class="f4 mb-1 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Computer and Communication Engineering</p>
<p class="f4 mb-1 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Manipal University, Jaipur</p>
<p class="text-gray mb-2 ws-normal">2019 - 2023</p>

<div class="d-sm-flex flex-wrap gutter-condensed mb-2"></div>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>Senior Secondary</h3>
<p class="f4 mb-1 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">ISC - 89.25%</p>
<p class="f4 mb-1 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">City Montessori School, Lucknow</p>
<p class="text-gray mb-2 ws-normal">2019</p>

<div class="d-sm-flex flex-wrap gutter-condensed mb-2"></div>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>Secondary</h3>
<p class="f4 mb-1 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">ICSE - 86%</p>
<p class="f4 mb-1 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">City Montessori School, Lucknow</p>
<p class="text-gray mb-2 ws-normal">2017</p>

<div class="d-sm-flex flex-wrap gutter-condensed mb-4"></div>