<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Notable Repositories</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">GitHub repositories that I've built.</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">

    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      <div class="github-component d-flex flex-column flex-justify-between height-full text-left border border-gray-light bg-white rounded-1 p-3">
        <div>
          <div class="d-flex flex-justify-between flex-items-start mb-1">
            <h1 class="f4 lh-condensed mb-1">
              <a href="https://github.com/oddlyspaced/covid19-android" style="font-family:Roboto Mono">
                <svg height="20" class="octicon octicon-repo mr-1 v-align-middle" fill="#586069" aria-label="repo" viewBox="0 0 12 16" version="1.1" width="15" role="img">
                  <path fill-rule="evenodd" d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path>
                </svg>
                  covid19-android
              </a>
            </h1>
          </div>
          <div class="text-gray mb-2 ws-normal" style="font-family:Roboto Mono">Android App based on @covid19india's api, while also making use of @NovelCOVID's api aswell</div>
        </div>
        <div class="d-flex f6">
          <span class="repo-language-color ml-0 mr-1" style="background-color:#F18E33"></span>
          <span class="mr-3" itemprop="programmingLanguage" style="font-family:Roboto Mono">Kotlin</span>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      <div class="github-component d-flex flex-column flex-justify-between height-full text-left border border-gray-light bg-white rounded-1 p-3">
        <div>
          <div class="d-flex flex-justify-between flex-items-start mb-1">
            <h1 class="f4 lh-condensed mb-1">
              <a href="https://github.com/oddlyspaced/notchpie-new" style="font-family:Roboto Mono">
                <svg height="20" class="octicon octicon-repo mr-1 v-align-middle" fill="#586069" aria-label="repo" viewBox="0 0 12 16" version="1.1" width="15" role="img">
                  <path fill-rule="evenodd" d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path>
                </svg>
                notchpie-new
              </a>
            </h1>
          </div>
          <div class="text-gray mb-2 ws-normal" style="font-family:Roboto Mono">Android App to indicate battery level around the Notch</div>
        </div>
        <div class="d-flex f6">
          <span class="repo-language-color ml-0 mr-1" style="background-color:#b07219"></span>
          <span class="mr-3" itemprop="programmingLanguage" style="font-family:Roboto Mono">Java</span>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      <div class="github-component d-flex flex-column flex-justify-between height-full text-left border border-gray-light bg-white rounded-1 p-3">
        <div>
          <div class="d-flex flex-justify-between flex-items-start mb-1">
            <h1 class="f4 lh-condensed mb-1">
              <a href="https://github.com/oddlyspaced/tensorflowlite-android-sample" style="font-family:Roboto Mono">
                <svg height="20" class="octicon octicon-repo mr-1 v-align-middle" fill="#586069" aria-label="repo" viewBox="0 0 12 16" version="1.1" width="15" role="img">
                  <path fill-rule="evenodd" d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path>
                </svg>
                tensorflowlite-sample
              </a>
            </h1>
          </div>
          <div class="text-gray mb-2 ws-normal" style="font-family:Roboto Mono">Basic app to test tensorflowlite's classification with pre trained model. Classifies between a set of chest xrays (covid and non covid)
            </div>
        </div>
        <div class="d-flex f6">
          <span class="repo-language-color ml-0 mr-1" style="background-color:#F18E33"></span>
          <span class="mr-3" itemprop="programmingLanguage" style="font-family:Roboto Mono">Kotlin</span>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      <div class="github-component d-flex flex-column flex-justify-between height-full text-left border border-gray-light bg-white rounded-1 p-3">
        <div>
          <div class="d-flex flex-justify-between flex-items-start mb-1">
            <h1 class="f4 lh-condensed mb-1">
              <a href="https://github.com/oddlyspaced/flutter-BMI" style="font-family:Roboto Mono">
                <svg height="20" class="octicon octicon-repo mr-1 v-align-middle" fill="#586069" aria-label="repo" viewBox="0 0 12 16" version="1.1" width="15" role="img">
                  <path fill-rule="evenodd" d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path>
                </svg>
                flutter-BMI
              </a>
            </h1>
          </div>
          <div class="text-gray mb-2 ws-normal" style="font-family:Roboto Mono">Sample Flutter app to calculate Body Mass Index</div>
        </div>
        <div class="d-flex f6">
          <span class="repo-language-color ml-0 mr-1" style="background-color:#00b4ab"></span>
          <span class="mr-3" itemprop="programmingLanguage" style="font-family:Roboto Mono">Dart</span>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      <div class="github-component d-flex flex-column flex-justify-between height-full text-left border border-gray-light bg-white rounded-1 p-3">
        <div>
          <div class="d-flex flex-justify-between flex-items-start mb-1">
            <h1 class="f4 lh-condensed mb-1">
              <a href="https://github.com/oddlyspaced/hackerrank" style="font-family:Roboto Mono">
                <svg height="20" class="octicon octicon-repo mr-1 v-align-middle" fill="#586069" aria-label="repo" viewBox="0 0 12 16" version="1.1" width="15" role="img">
                  <path fill-rule="evenodd" d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path>
                </svg>
                hackerrank
              </a>
            </h1>
          </div>
          <div class="text-gray mb-2 ws-normal" style="font-family:Roboto Mono">My solutions to problems on Hackerrank - C, Java, Python, Bash</div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      <div class="github-component d-flex flex-column flex-justify-between height-full text-left border border-gray-light bg-white rounded-1 p-3">
        <div>
          <div class="d-flex flex-justify-between flex-items-start mb-1">
            <h1 class="f4 lh-condensed mb-1">
              <a href="https://github.com/oddlyspaced/scripts" style="font-family:Roboto Mono">
                <svg height="20" class="octicon octicon-repo octicon octicon-repo mr-1 v-align-middle" fill="#586069" aria-label="repo" viewBox="0 0 12 16" version="1.1" width="15" role="img">
                  <path fill-rule="evenodd" d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path>
                </svg>
            scripts
              </a>
            </h1>
          </div>
          <div class="text-gray mb-2 ws-normal" style="font-family:Roboto Mono">Repo holding my commonly used scripts</div>
        </div>
      </div>
    </div>

  <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <div class="github-component d-flex flex-column flex-justify-between height-full text-left border border-gray-light bg-white rounded-1 p-3">
      <div>
        <div class="d-flex flex-justify-between flex-items-start mb-1">
          <h1 class="f4 lh-condensed mb-1">
            <a href="https://github.com/oddlyspaced/boot2installer" style="font-family:Roboto Mono">
              <svg height="20" class="octicon octicon-repo mr-1 v-align-middle" fill="#586069" aria-label="repo" viewBox="0 0 12 16" version="1.1" width="15" role="img">
                <path fill-rule="evenodd" d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path>
              </svg>
              boot2installer
            </a>
          </h1>
        </div>
        <div class="text-gray mb-2 ws-normal" style="font-family:Roboto Mono">Shell script to create recovery ramdisk patcher from recovery compiled boot.img</div>
      </div>
      <div class="d-flex f6">
        <span class="repo-language-color ml-0 mr-1" style="background-color:#89e051"></span>
        <span class="mr-3" itemprop="programmingLanguage" style="font-family:Roboto Mono">Shell</span>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <div class="github-component d-flex flex-column flex-justify-between height-full text-left border border-gray-light bg-white rounded-1 p-3">
      <div>
        <div class="d-flex flex-justify-between flex-items-start mb-1">
          <h1 class="f4 lh-condensed mb-1">
            <a href="https://github.com/oddlyspaced/gsi2rom" style="font-family:Roboto Mono">
              <svg height="20" class="octicon octicon-repo mr-1 v-align-middle" fill="#586069" aria-label="repo" viewBox="0 0 12 16" version="1.1" width="15" role="img">
                <path fill-rule="evenodd" d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path>
              </svg>
              gsi2rom
            </a>
          </h1>
        </div>
        <div class="text-gray mb-2 ws-normal" style="font-family:Roboto Mono">Python/Bash script which makes a flashable rom by taking system.img and vendor.img as input</div>
      </div>
      <div class="d-flex f6">
        <span class="repo-language-color ml-0 mr-1" style="background-color:#3572a5"></span>
        <span class="mr-3" itemprop="programmingLanguage" style="font-family:Roboto Mono">Python</span>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <div class="github-component d-flex flex-column flex-justify-between height-full text-left border border-gray-light bg-white rounded-1 p-3">
      <div>
        <div class="d-flex flex-justify-between flex-items-start mb-1">
          <h1 class="f4 lh-condensed mb-1">
            <a href="https://github.com/oddlyspaced/pybacklight" style="font-family:Roboto Mono">
              <svg height="20" class="octicon octicon-repo mr-1 v-align-middle" fill="#586069" aria-label="repo" viewBox="0 0 12 16" version="1.1" width="15" role="img">
                <path fill-rule="evenodd" d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path>
              </svg>
              pybacklight
            </a>
          </h1>
        </div>
        <div class="text-gray mb-2 ws-normal" style="font-family:Roboto Mono">Python script to modify backlight on hardware running on linux</div>
      </div>
      <div class="d-flex f6">
        <span class="repo-language-color ml-0 mr-1" style="background-color:#3572a5"></span>
        <span class="mr-3" itemprop="programmingLanguage" style="font-family:Roboto Mono">Python</span>
      </div>
    </div>
  </div>

</div>