<h2 {% if site.style == 'dark' %}class="text-white" {% endif %}>Recognition</h2>
<div class="d-sm-flex flex-wrap gutter-condensed mb-2"></div>

<p class="text-gray mb-2 ws-normal" style="font-family:Roboto Mono">
    Android App Development
</p>
<div class="col-sm-1 col-md-1 col-lg-1 col-xl-12 mb-3">
    <div
        class="github-component d-flex flex-column flex-justify-between height-full text-left rounded-1 border border-gray-light bg-white p-3">
        <div>
            <div class="d-flex flex-justify-between flex-items-start mb-1" style="font-family:Roboto Mono">
                <h3 {% if site.style == 'dark' %}class="text-white" {% endif %}>
                    <a href="https://play.google.com/store/apps/details?id=com.lorenzomoscati.np">
                    100K+ Downloads
                    </a>
                </h3>
            </div>
            <p class="text-gray mb-2 ws-normal" style="font-family:Roboto Mono">
                Play Store (App exists under the name of a different developer.)
            </p>
            <p class="f4 mb-1 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"
                style="font-family:Roboto Mono">
                Published an app called Notch Pie which indicates battery level around the Notch Cutout
            </p>
        </div>
    </div>
</div>

<div class="col-sm-1 col-md-1 col-lg-1 col-xl-12 mb-3">
    <div
        class="github-component d-flex flex-column flex-justify-between height-full text-left rounded-1 border border-gray-light bg-white p-3">
        <div>
            <div class="d-flex flex-justify-between flex-items-start mb-1" style="font-family:Roboto Mono">
                <h3 {% if site.style == 'dark' %}class="text-white" {% endif %}>
                    <a
                        href="https://www.xda-developers.com/notch-pie-adds-a-battery-indicator-to-the-waterdrop-notch-of-the-redmi-note-7-pro-oneplus-6t-and-other-notched-devices/">
                        Article: XDA-Developers
                    </a>
                </h3>
            </div>
            <p class="text-gray mb-2 ws-normal" style="font-family:Roboto Mono">
                XDA
            </p>
            <p class="f4 mb-1 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"
                style="font-family:Roboto Mono">
                XDA-Developers published an article reviewing my app 'Notch Pie'.
            </p>
        </div>
    </div>
</div>

<div class="col-sm-1 col-md-1 col-lg-1 col-xl-12 mb-3">
    <div
        class="github-component d-flex flex-column flex-justify-between height-full text-left rounded-1 border border-gray-light bg-white p-3">
        <div>
            <div class="d-flex flex-justify-between flex-items-start mb-1" style="font-family:Roboto Mono">
                <h3 {% if site.style == 'dark' %}class="text-white" {% endif %}>
                    <a href="https://www.androidauthority.com/notch-pie-waterdrop-notch-974187/">
                        Article: Android Authority
                    </a>
                </h3>
            </div>
            <p class="text-gray mb-2 ws-normal" style="font-family:Roboto Mono">
                Android Authority
            </p>
            <p class="f4 mb-1 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"
                style="font-family:Roboto Mono">
                Android Authority published an article reviewing my app 'Notch Pie'.
            </p>
        </div>
    </div>
</div>

<div class="d-sm-flex flex-wrap gutter-condensed mb-4"></div>